:root {
--text-color: #0f1a0d;
--background-color: #f8fbf7;
--primary-color: #72b162;
--secondary-color: #9ecfb2;
--accent-color: #86c4a8;
--second-background-color: #E2E8F0;
}

.container {
    display: grid;
    grid-template: 1fr 4fr / 1fr 5fr;
}

.sidebar {
    background-color: var(--primary-color);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header {
    background-color: var(--background-color);
    grid-column: 2 / 3;
    grid-row: 1 / 2;

}

.main-area {
    background-color: var(--second-background-color);
    grid-column: 2 / 3;
    grid-row: 2 / 3;

}
