:root {
--text-color: #0f1a0d;
--background-color: #f8fbf7;
--primary-color: #72b162;
--secondary-color: #9ecfb2;
--accent-color: #86c4a8;
--second-background-color: #E2E8F0;
}

html,
body {
    margin: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template: 1fr 4fr / 1fr 5fr;
}

.sidebar {
    background-color: var(--primary-color);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

    .logo-container,
    .links-container > li,
    .other-container > li {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: start;
    }




.header {
    background-color: var(--background-color);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 4fr 5fr;
}

    .first-line,
    .search-bar-container,
    .profile-container,
    .second-line,
    .user-container,
    .user-text-container,
    .big-buttons-container {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
    }

        .search-bar-container {
            justify-content: start;
        }

            .search-bar{
                background-color: var(--second-background-color);
            }

        .profile-container {
            justify-content: end;
        }

        .user-container {
            justify-content: start;
        }
            
            .user-text-container {
                grid-template-rows: 1fr 2fr;
                grid-auto-flow: row;
            }

        .big-buttons-container {
            justify-content: end;
        }




.main-area {
    background-color: var(--second-background-color);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template: 40px 1fr 40px 1fr / 1fr 1fr 1fr;

}

.project-card,
.announcements-container,
.trending-container {
    background-color: var(--background-color);
}


    #prj-title {
        grid-area: 1/1/span 1/span 2;
    }

    .projects-container {
        grid-area: 2/1/span 3/span 2;
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
    }

    #ann-title {
        grid-area: 1/3/2/4;
    }

    .announcements-container {
        grid-area:2/3/3/4;
        display: grid;
    }

    #trn-title {
        grid-area: 3/3/4/4;
    }

    .trending-container {
        grid-area: 4/3/5/4;        
        display: grid;
    }


        .trending-card {
            display: grid;
            align-items: center;
            grid-auto-flow: column;
            justify-content: start;        
    }

        .trending-text-container {
        }

        .trending-profile-logo {
        }

        .trending-username {
            align-self: flex-end;
        }

        .trending-project {
            align-self: flex-start;
        }




img {
    border: 2px solid black;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}

button {
    background-color: var(--primary-color);
    color: var(--background-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

